<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>204683619999-qac3hhd83v5ugl9nvebgtk3qhjmov41e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.204683619999-qac3hhd83v5ugl9nvebgtk3qhjmov41e</string>
	<key>API_KEY</key>
	<string>AIzaSyDpFexYXcDiB5o84usedU43QprP8R7yJQM</string>
	<key>GCM_SENDER_ID</key>
	<string>204683619999</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sosaxcoder.instagrambd</string>
	<key>PROJECT_ID</key>
	<string>substantial-mix-246911</string>
	<key>STORAGE_BUCKET</key>
	<string>substantial-mix-246911.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:204683619999:ios:576e2113bd96ddaebdfcaa</string>
	<key>DATABASE_URL</key>
	<string>https://substantial-mix-246911.firebaseio.com</string>
</dict>
</plist>